<p>Ciao,</p>

<p>L’integrazione con Slack è scaduta. Per continuare a ricevere messaggi su Slack, elimina l’integrazione e collega nuovamente il tuo workspace.</p>

<p>
  Clicca <a href="{{action_url}}">qui</a> per riconnetterlo.
</p>
