<p>Ciao,</p>

<p>La tua inbox email è stata disconnessa a causa di errori di configurazione.</p>
<p>Aggiorna la configurazione per continuare a ricevere i messaggi.</p>

<p>
Clicca <a href="{{action_url}}">qui</a> per riconnetterla.
</p>
