<p>Ciao,</p>

<p>L’accesso alla tua inbox Facebook è scaduto.</p>
<p>Riconnetti la tua Pagina Facebook per continuare a ricevere i messaggi.</p>

<p>
  Clicca <a href="{{action_url}}">qui</a> per riconnetterla.
</p>
