<p>Ciao,</p>

<p>La regola di automazione <b>{{meta['rule_name']}}</b> è stata disattivata perché contiene condizioni non valide.</p>
<p>Questo di solito accade quando vengono eliminati attributi personalizzati che risultano ancora utilizzati nelle regole di automazione.</p>

<p>
Clicca <a href="{{action_url}}">qui</a> per aggiornare le condizioni.
</p>
