<p>Ciao,</p>

<p>L’importazione dei tuoi contatti è stata completata. Puoi visualizzare i contatti importati nella scheda dedicata ai contatti.</p>

<p>Numero di record importati: {{meta['imported_contacts']}}</p>

<p>Numero di record non importati: {{meta['failed_contacts']}}</p>

{% if meta['failed_contacts'] == 0 %}
  <p>
    Clicca <a href="{{action_url}}">qui</a> per visualizzare i contatti importati.
  </p>
{% else %}
  <p>
    Clicca <a href="{{ action_url }}" target="_blank">qui</a> per visualizzare i record non importati.
  </p>
{% endif %}
