<p>Ciao <%= @resource.email %>!</p>

<p>È stato richiesto un link per cambiare la tua password. Puoi farlo tramite il link qui sotto.</p>

<p><%= link_to 'Cambia la mia password', frontend_url('auth/password/edit', reset_password_token: @token) %></p>

<p>Se non hai richiesto tu questa operazione, ignora semplicemente questa email.</p>
<p>La tua password non verrà modificata finché non accederai al link qui sopra e ne creerai una nuova.</p>
